body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

form button:hover {
    background-color: #005a9e;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-container {
    display: flex;
    margin-top: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    background-color: #fff;
}

/* Set background color for h1 */
h1 {
    background-color: #0078d4;
    color: white;
    /* Text color */
    padding: 10px;
    /* Padding for h1 */
}

/* Style for buttons with the "button" class */
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.button:hover {
    background-color: #005a9e;
}